<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TODO List</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="heady">
            <img src="https://i.pinimg.com/736x/16/de/d1/16ded160f74e9983411aefd95d9c00c3.jpg" alt="Logo"
                height="100px">
            <h1 id="th">TODO LIST</h1>
        </div>
    </header>
    <main>
        <form action="/html" method="POST">
            <fieldset class="mainf">
                <fieldset class="ff">
                    <div class="personal">
                        <h2 id="sh"><b>1. Personal Information</b></h2>
                        <br>
                        <p class="theory">Full Name:</p>
                        <input type="text" name="fullname" class="inputs" id="full_name" placeholder="Enter full name"
                            required>
                        <br>
                        <p class="theory">Email Address:</p>
                        <input class="inputs" type="email" name="email" id="email" placeholder="Enter email address"
                            required>
                        <br>
                        <p class="theory">Phone Number:</p>
                        <input type="tel" name="phoneNo" class="inputs" id="phone_number"
                            placeholder="Enter mobile number" required>
                    </div>
                    <br>
                    <button type="submit">SUBMIT</button>
                </fieldset>
            </fieldset>
        </form>
        <div class="datapart">
            {% if entries|length==0 %}
            
            NO ENTRIES

            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Full Name</th>
                        <th>Email ID</th>
                        <th>Phone Number</th>
                        <th>Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in entries %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ entry.full_name }}</td>
                        <td>{{ entry.email }}</td>
                        <td>{{ entry.phone_number }}</td>
                        <td>{{ entry.date_created }}</td>
                        <td class="btns">
                            <button onclick="window.location.href='/edit/{{ entry.id }}'">Edit</button>
                            <button onclick="window.location.href='/delete/{{ entry.id }}'">Delete</button>
                            <button onclick="window.location.href='/markdone/{{ entry.id }}'">Mark Done</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
</body>

</html>