{% extends 'base.html' %}
{% block heading %}
Marked Done Tasks
{% endblock heading %}
{% block mainy %}
<main>
    {% if entriess %}
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Full Name</th>
                <th>Email ID</th>
                <th>Phone Number</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entriess %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ entry.done_name }}</td>
                <td>{{ entry.done_email }}</td>
                <td>{{ entry.done_phno }}</td>
                <td>{{ entry.date_created }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No completed tasks found.</p>
    {% endif %}
</main>
{% endblock mainy %}